.buy-main{
	position: relative;
	margin-top: 20%;
	background-color: white;
}
.buy-bg{
	display: none;
	position: absolute;
	width: 100%;
	min-height: 100rem;
	top: 0;
	left: 0;
background-color: rgba(84, 82, 82, 0.5);
}

.ct{
	margin-top: 5rem;
}
.exit{
	position: absolute;
	font-size: 4rem;
	top: -3rem;
	right: -4rem;
	border:none;
	background: none;
	transition: 0.4s;
}
.exit:hover{
color:red;	
}
button:active, button:focus {
  outline: none;
}
.block-slider {
	height: 200px;
	width: 800px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 2rem;
}

.slide{
	position: absolute;
	transition: 0.5s;
}
.slide img{
	width: 200px;
	height: 200px;
	float: left;
}
.slider-btn {
	position: absolute;
	border: none;
}
.prev{
	top: 50%;
	transform:translateY(-50%);
	left: 0;
}
.next {
	top: 50%;
	transform:translateY(-50%);
	right: 0;
}