.check{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
p {display: inline-block;}
* {
			font-family: sans-serif;
			font-size: 1rem;
		}
		p {
			font-weight: normal;
			margin-left: 1rem;
			color: #780101;
		}