* {
	box-sizing: border-box;
	
}
body {
	font-family: Tahoma, serif;
}

.header {
	margin-top: 100px;
	text-align: center;
	font-size: 24px;
 color: #656565;
	font-weight: bold;
}
.header span {
	padding-bottom: 15px;
	display: block;
	font-weight: normal;
}
.bot-head {
	margin-top: 60px;
	display: inline-block;
}
.form {
	width: 350px;
	height: 310px;
	border: 5px solid #656565;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}
.form p{
	margin-top: 10px;
	margin-bottom: 30px;
}
.form button {
	width: 290px;
	height: 50px;
	font-size: 18px;
	display: block;
	color: #fff;
	background-color: #3c3cdd;
	border: none;

}
.form input {
	width: 290px;
	height: 50px;
	display: block;
	padding: 20px;
	border: 1px solid #333;
	margin-bottom: 10px;
	color: #3a3a3a;
	font-size: 18px;
}

.main {
	
	margin-top: 80px;
	
}
.main p{
	font-size: 24px;
 color: #656565;
}
.main button {

	margin: 50px auto;
	width: 290px;
	height: 50px;
	font-size: 18px;
	display: block;
	color: #fff;
	background-color: #3c3cdd;
	border: none;
}
.col {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	width: 125px;
	height: 130px;
	margin-right:100px;

}
.col4 {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	width: 125px;
	height: 130px;
}
.gl {
	margin-top: 50px;
	display: block;
}
.gl h1{
	margin-top: 20px;
	font-size: 16px;
}
.client h1{
	margin-top: 80px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 50px;
}

.photo {
	display: block;
}
.photo2 {
	display: block;
	margin-bottom: 100px;
}
.ph {
		display: inline-block;
	text-align: center;
	font-size: 24px;
	width: 210px;
	height: 210px;
	margin-right:15px;
	margin-top: 15px;
}

