* {
	font-family: tahoma,serif;
}
.header span{
	display: block;
	font-weight: 300;
}
.header strong{
 text-transform: uppercase;
}
.header {
	line-height: 1.6;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.headtext{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 40px;
}
.mybtn{
	margin: 10px auto;
	font-size: 18px;
		width: 100%;
		background-color: #3c3cdd;

}
.form input{
	margin-bottom: 10px;
}
.form {
	border: 5px solid #2727d9;
	padding: 20px 30px;
}
.box {
	
	text-align: center;
	margin-bottom: 20px;
}
.boxes {
	margin-bottom: 40px;
	text-align: center;
}

.boxes p{
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
}
.ph {
	margin-bottom: 50px;
} 
